<div class="products-content">
  <mat-grid-list cols="4" rowHeight="4:6" gutterSize="20px">
    <mat-grid-tile *ngFor="let product of products | async | orderBy:'stock':true" [routerLink]="['/Product', product.id]" [ngClass]="{'on-sale': product.on_sale && product.stock}">
      <img [ngClass]="{'out-stock': !product.stock} "[src]="images[product.id]" height="200px">
      
      <mat-grid-tile-footer>
        <span class="product-title">{{product.name}}</span>
        <div class="price-container">
          <span>{{product.price}}€</span>
          <span *ngIf="product.on_sale && product.stock">{{product.on_sale_price}}€</span>
        </div>
      </mat-grid-tile-footer>
      
    </mat-grid-tile>  
  </mat-grid-list>
</div>

